
.navbar .navbar-brand {
  color: #94128A;
  font-size: 24px;
}

.container-fluid {
  background-color: #CCCCFF;
}

#myImage,#myImage1{
  border-collapse: collapse;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 49%;
  max-width:80%;
  max-height:80%;
  padding-left: 10px;
  padding-right:5px;
  padding-bottom: 10px;
} 

.header-{
  display:block;
  padding: 5px;
}

.btn-primary{
  background-color: #8064A2;
  border: none;
  display: block;
}

.inner-header{
  text-align: center;
  display: block;
}

form {
  display: block;
}


h2{
  display: block;
}
body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
  text-align: center;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGBRT9PFI5mUMFB6qZ1a8D1rOrllFd-kAPxQ&usqp=CAU')
}

